{% include "top.html" %} 
<div class="container">
<div class="row">
<div id="login" class="span8 offset2">
<legend>Group: {{group.name}}</legend>
<form action="/group/opt/" method="POST">
{% csrf_token %}
{{ formset.management_form }}
<input type='hidden' name='gid' value='{{ group.id }}'>
<table>
<tr><th></th><th>Name</th><th>金额</th><th>实付</th><th>应付</th></tr>
{% for form in formset %}
<tr>
    {{ form.uid }}
    <td>{{ form.select }}</td>
    <td>{{ form.name.value }}</td>
    <td>{{ form.credit.error }} {{ form.credit.value }}</td>
    <td>{{ form.paid.error }} {{ form.paid }}</td>
    <td>{{ form.own.error }} {{ form.own }}</td>
</tr>
{% endfor %}
<table>
<button class="btn btn-primary" type="submit">提交</button>
</div>
</div>
</div>
</form>
{% include "foot.html" %} 
